.container {
  background: url('/roses.jpg') no-repeat fixed;
  background-size: cover;
  width: 100%;

  @media (max-width: 768px) {
    background-size: contain;
  }
}

.divider {
  height: 50vw;
  background: #001E08;
  clip-path: circle(50vw at 50% 50vw);
}

.wrapper {
  width: 100%;
  min-height: 75vh;
  margin-top: -50vw;
  padding: 3vh 0 5vh 0;

  background: #001E08;

  clip-path: polygon(
    0 50vw, //1
    0% 100%, //2
    100% 100%, //3
    100% 50vw, //4
    95vw 50vw, //5
    75vw 15vh, //6
    50vw 1vw, //7
    25vw 15vh, //8
    5vw 50vw //9
  );


  @media (max-width: 748px) {
    clip-path: polygon(
      0 50vw, //1
      0% 100%, //2
      100% 100%, //3
      100% 50vw, //4
      95vw 50vw, //5
      90vw 10vh, //6
      50vw 1vw, //7
      10vw 10vh, //8
      5vw 50vw //9
    );
  }
}

.content {
  width: 50vw;
  margin: 0 auto;

  @media (max-width: 1024px) {
    width: 80vw;
  }

  @media (max-width: 768px) {
    width: 95vw;
  }
}