.container {
  background: url('/roses.jpg') no-repeat;
  background-size: cover;
  width: 100%;
}

.dividerwrapper {
  max-height: 30vh;
  overflow: hidden;

  @media (max-width: 1024px) {
    max-height: 50vh;
  }
  
  .divider {
    background: #001E08;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80vw;
    min-height: 100vh;
    margin: 0 auto -70vh auto;

    border-top-left-radius: 100%;
    border-top-right-radius: 100%;

    @media (max-width: 1024px) {
      width: 100vw;
      min-height: 100vh;
      margin: 0 auto -40vh auto;
    }

    @media (max-width: 768px) {
      width: 100vw;
      min-height: 50vh;
      margin: 0 auto -20vh auto;
    }
  }
}

.wrapper {
  width: 100%;
  background: #001E08;
  min-height: 40vh;
}

.content {
  width: 50vw;
  margin: 0 auto;
}