.header {
  width: 100%;
  min-height: 30vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: #B76052;
  font-family: BrittanySignature;
  display: block;

  span {
    position: relative;
    z-index: 2;
    font-size: 4rem;

    @media (max-width: 768px) {
      font-size: 2rem;
    }
    
    &:before {
      content:'';
      display: block;
      z-index: -1;

      position: absolute;
      bottom: 2rem;
      left: 1rem;

      background:rgba(255,255,255,0.8);
      width: 95%;
      height: 50%;

      @media (max-width: 768px) {
        height: 70%;
        bottom: 1rem;
      }

      @media (max-width: 768px) {
        height: 60%;
        bottom: 1rem;
        left: 0.5rem;
      }
    }
  }
}

.date {
  color: #DEA297;
  span {
    @media (max-width: 768px) {
      font-size: 1rem;
    }

    padding: 0 1rem 1rem 1rem;
    background: rgba(255,255,255,0.8);
  }
}

.text {
  font-size: 2rem;
  margin: 0;
  text-align: right;
  padding: 0 3em 0 0;

  @media (max-width: 768px) {
    padding: 0 0.5em 0 0;
  }
}