.inviteContainer {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  gap: 1em;

  button {
    text-transform: uppercase;
  }

  @media (max-width: 300px) {
    flex-direction: column;
  }
}