@font-face {
  font-family: BrittanySignature;
  src: url(/fonts/BrittanySignature.ttf);
}

@font-face {
  font-family: PlayfairDisplay;
  src: url(/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  color: #DEA297;
  font-family: PlayfairDisplay, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  text-align: center;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}